@import "../../../shared/styles/variables.scss";
@import "../../../shared/styles/shared-style.scss";

.container-fluid {
  padding: 8px;
  margin: 0px;

  @media (min-width: 535px) {
    padding: 0px 5% !important;
  }

  @media (min-width: 790px) {
    padding: 0px 15% !important;
  }

}

.scrollable-content {
  max-height: 400px;
  overflow-y: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 2px 0px;

  & label {
    font-weight: bold;
    padding: 4px;
  }

  & input {
    padding: 8px;
    border: 1px solid $primaryColor;
    border-radius: 4px;
    outline: none;

    & ::placeholder {
      color: $primaryColor;
    }
  }
}

.form-footer {
  padding: 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;

  & .back-btn {
    @include btn-shared-style;
  }

  & .submit-btn {
    @include btn-shared-style;
    background: $dark-color;
    border: 1px solid $dark-color;
    color: white;
  }
}
